<h1>Login</h1>
 <%= form_tag "/login", method: :post do %>
   <div>
     Email:
     <input type="email" name="email">
   </div>
 
   <div>
     Password:
     <input type="password" name="password">
   </div>
 
   <input type="submit" value="Log In">
 <% end %> 




<!-- <a href="/login" data-toggle="modal" data-target="#login-modal">Login</a>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
          <form>
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>
          
          <div class="login-help">
          <a href="#">Register</a> - <a href="#">Forgot Password</a>
          </div>
        </div>
      </div>
      </div> -->