<center><h1>Forks</h1>

<div class="row">

<% @forks.each do |fork|%>
  <div class ="col-lrg-7 col-lrg-7">
    <div class="well">
       


    
   
 

      <h5><%= fork.post.food%></h5><br>
      <img src="<%=fork.post.image%>">


    
    

  

    </div>
   </div>     
<% end%>


</div>
   </center>

