
<center>
<h1>Forks</h1>

<div class="row">

<% @forks.each do |fork|%>
  <div class ="col-sm-7 col-sm-4">
    <div class="well">
     <p> <%= fork.post.food %></a></p>
        <img src="<%= fork.post.image %>">
   <p> <%= fork.post.restaurant%></a></p>      
    
    

  

    </div>
   </div>     
<% end%>


</div>
   </center>


