<center><h1>Forks</h1>

<div class="row">

<% @forks.each do |fork|%>
  <div class ="col-lrg-7 col-lrg-7">
    <div class="well">
       


    
   
 <%= fork.post_id %></a><br>


    
    

  

    </div>
   </div>     
<% end%>


</div>
   </center>

