<h1 style="text-align: center">About Forks</h1>

<p style="text-align: center">
  This website is a social media platform for foodies out there!<br> 
  I mean who doesn't like food right? That means everyone can join!<br>
  You can share your food photos and browse some restauranrs in the area.<br>
  <a href="/signup">Sign up</a> now and enjoy! Let start forking!

</p>

<h2 style="text-align: center">Features:</h2>

    
    <p style="text-align: center"><a href="/posts">Explore</a> photos of food.</p>
    <p style="text-align: center"><a href="/posts/new">Post</a> new photo.</p>
     <p style="text-align: center"><a href="/forks/new">Fork</a> all the post that you want and create your own board.</p>
    <p style="text-align: center"><a href="/restaurants">Discover</a> restaurants around your area.</p>

