

<center>
<h1>Signup!</h1>
<%= form_tag '/users', method: :post, multipart: true do  %>
  <div>
    First Name:
    <input type="text" name="first_name">
  </div>

    <div>
    Last Name:
    <input type="text" name="last_name">
  </div>

  <div>
    Email:
    <input type="email" name="email">
  </div>

  <div>
    Password:
    <input type="password" name="password">
  </div>

  <div>
    Confirm Password:
    <input type="password" name="password_confirmation">
  </div>
      <div>
     <%= label_tag :image %>
     <%= file_field_tag :image, accept: 'image/*;capture=camera' %>
    </div>

  <input type="submit" value="Submit">
<% end %>

</center>






