<h3 align="center">Profile</h3>
<h1 align="center"><%= @user.first_name%></h1>

<div class="row" align="center">
<% @user.posts.each do |post| %>

  <div class ="col-lrg-2 col-lrg-2">
    <div class="well">

    <%= post.food %></a><br>
    <img src="<%= post.image%>">
<%end%>
    </div>
  </div>
</div>   

<h2>FORKS</h2>

<a href="/forks"><img src="http://www.rootscsa.org/wp-content/uploads/2014/06/Restaurant-Icon.png"></a></p>