<h3 align="center">Profile</h3>
<h1 align="center"><%= @user.first_name%></h1>

<div class="row" align="center">
<% @user.posts.each do |post| %>

  <div class ="col-lrg-7 col-lrg-7">


    <div class="well">


    <a href="/posts/<%=post.id%>"><%= post.food %></a><br>
    <img src="<%= post.image%>">
     <div class ="col-lrg-7 col-lrg-7">
       </div>
  </div>
</div>  
<%end%>
  

<h2>FORKS</h2>

<a href="/forks
"><img src="http://www.rootscsa.org/wp-content/uploads/2014/06/Restaurant-Icon.png" width="200" height="200"></a></p>

