<div class="row">
<div class="container">
<h2><%=@board.name%></h2>
    <div class ="col-sm-4 col-sm-4">
      <div class ="float">


  
<% @board.forks.each do |fork| %>
  <a href="</posts/<%@post.id%>"><%= fork.post.food %><br>
    <img src="<%= fork.post.image %>">
  </div>
  </div>
<%end%>
</div>
</div>