<p>New Restaurant</p>
<%= form_tag "/restaurants", method: :post do %>
    <div>
     Restaurant Name: <input type="text" name="name">
    </div>
    
    <div>
     Location: <input type="text" name="location">
    </div>
    
 

  


  
  <input type="submit" value="Create Restaurant">
<% end %>