// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
.float img {
  width: 70%;
  position: relative;
  background-position: 50% 50%;
   background-repeat:   no-repeat;
    background-size:     cover;


}


.img-circle {
    border-radius: 50%;
     width: 20%;
}




 